/* ------------------------------ Generalidades ----------------------------- */
:root,
* {
    box-sizing: border-box;
    --color-letra-VO: #346141;
    --color-fondo_titulos: #7CE69A;
    --color-fondo_titulos2: #60B378;
    --color-fondo_titulos3: #C4EACFE5;
    margin: 0;
    padding: 0;
    color: var(--color-letra-VO);
}
body {
    /* background-image: url(../img/View.png); */
    background: linear-gradient(-190deg,#000,#0c0f0a,#0E1211,#040f16,#040f0f, #15251d,#193120,#2d3a2f,#30833B,#629460);
    background: linear-gradient(to right,#000,#15251d,#30833B,#15251d,#000);
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* background-attachment: fixed; */
    height: 100%;
    width: 100%;
    /* background-position: auto 432px; */
}
.matrixContainer{
    height: 0;
    
}
canvas{
    box-shadow: 0 0 20px 20px black ;
}

.paralelogramo {
    background-color: var(--color-fondo_titulos);
    /* height: 50px;
    width: 150px; */
    transform: skew(-35deg);
    box-shadow: 8px 5px 10px var(--color-fondo_titulos);
    border-radius: 15px;
}

body .boton:active {
    box-shadow: none;
}

.titulo {
    background-color: var(--color-fondo_titulos3);
    width: 30vw;
    text-align: center;
    margin: auto;
    padding: 0.7rem;
    font-size: 1.7rem;
}

.oculto {
    display: none;
}

/* ------------------------------ Nav y header ------------------------------ */
a {
    text-decoration: none;
    width: 100%;
}
.navBtn{
    display: none;
}
nav {
    grid-column: 1/4;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}

.logo {
    background-color: var(--color-fondo_titulos);
    font-size: 1.2rem;
    line-height: 0.2rem;
    margin-left: 30px;
    margin: 15px;

}

.navOptions {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    list-style-type: none;
}

.navOptions li {
    padding: 5px 15px;
    font-size: 1.2rem;
    margin: .3rem;
}

header {
    /* background-image: url(../img/IMG\ fondo.png); */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    grid-template-columns: 2fr 2fr 2fr;
}

#titulo {
    grid-row: 3;
    grid-column: 2;
    text-align: center;
    font-size: 1.5rem;
    box-sizing: content-box;
    width: max-content;
}

#titulo div {
    width: 70%;
    margin-left: 33%;
    background-color: var(--color-fondo_titulos2);
    color: white;
}

h1 {
    font-size: 2.7rem;
    padding: 5px 30px;
    order: 50;
}




/* -------------------------------- About Me -------------------------------- */


#About_Me {
    display: grid;
    grid-template-rows: 2fr 4fr;
    grid-template-columns: 1fr 3fr 1fr;
    /* height: 300vh; */
    margin: 5vh auto;
}

#About_Me h3 {
    grid-column: 2;
    
}
.info{
    background-color: var(--color-fondo_titulos3);
    border-radius: 15px;
    border: 3px solid var(--color-letra-VO);
    grid-row: 2;
    grid-column: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    
}
#About_Me p {
    padding-left: 1%;
    padding-right: 3%;
    padding-top: 1%;
    font-size: 1.3rem;
    text-align:center;
}
.selfie {
    border: 1.5px solid var(--color-fondo_titulos2);
    object-fit: cover;
    width: 12vw;
    height: 28vh;
    border-radius: 15px;
    margin-right: 5% ;
}

#About_Me div.boton {
    border: 3px solid var(--color-letra-VO);
    box-shadow: 3px 3px 5px #000;
    font-weight: bold;
    grid-row: 2;
    grid-column: 2;
    height: 5vh;
    margin: auto;
    margin-bottom: -1rem;
    padding-top: .3rem;
    text-align: center;
    width: 26%;
}

#About_Me div.boton:active {
    box-shadow: none;
}

/* ----------------------------- menu Lenguajes ----------------------------- */

#lenguajes {
    margin: 15vh auto;
    height: 50vh;
    margin-top: 25vh;
}

#lenguajes h2 {
    margin-bottom: 5vh;
}

#lenguajes ul {
    display: flex;
    list-style: none;
    margin: auto;
    width: 25%;
    height: 30vh;
    flex-direction: column;
    justify-content: space-around;

}

/* ---------------------------- Lenguajes normal ---------------------------- */
#lenguajes li {
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: .5rem;

}

/* #lenguajes li::after {
    background-color: var(--color-fondo_titulos);
    transform: skew(-35deg);
    width: 50vw;
} */
/* --------------------------- lenguajes on :hover -------------------------- */
/* #lenguajes li:hover{
    background-color: var(--color-fondo_titulos);
    transform: skew(-35deg);
    width: 50vw;
} */
/* ------------------------ barras de progreso prueba ----------------------- */
.progreso {
    width: 50vw;
    margin-left: -50%;
}

.barra {
    background-color: orange;
    border-radius: 15px;
}

.l1 .barra {
    width: 50%;
}

.l2 .barra {

    width: 45%;
}

.l3 .barra {
    width: 60%;
}

/* .progreso{
    display: none;
} */


/* -------------------------------- Proyectos ------------------------------- */

#proyectos {
    margin: 15vh auto;
    height: 70vh;
    width: 100%;
}
#proyectos .titulo{
    width: fit-content;
}

.proyectos h3 {
    background-color: var(--color-letra-VO);
    border-radius: 15px 15px 0px 0px;
    color: var(--color-fondo_titulos3);
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
}

.proyectos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* height: 110%; */
    width: auto;
    flex-wrap: wrap;
}


.proyectos section {
    background-color: var(--color-fondo_titulos3);
    border-radius: 15px;
    box-shadow: 3px 5px 5px var(--color-fondo_titulos2);
    margin-top: 10vh;
    overflow: hidden;
    height: 60vh;
    width: 70vh;
}

.proyectos div {
    display: flex;
    background-color: var(--color-fondo_titulos3);
    border-radius: 0px 0px 15px 15px;
    height: 15%;
    margin-top: -1%;
    justify-content: center;
    align-items: center;
}

.proyectos a {
    background-color: var(--color-fondo_titulos2);
    border: 2px solid var(--color-letra-VO);
    color: var(--color-letra-VO);
    padding: 2px;
    margin-bottom: 0px;
    height: 50%;
    width: 50%;
    text-align: center;
}

iframe {
    overflow: hidden;
    border: none;
    /*zoom: .75;
    -moz-transform: scale(.75);
    -moz-transform-origin: 100% 100%;
    -o-transform: scale(.75);
    -o-transform-origin: 100% 100%;
    -webkit-transform: scale(.75);
    -webkit-transform-origin: 100% 100%;
    */
}
@media screen and (max-width: 768px) {
    .info{
        flex-wrap: wrap;
        height: fit-content;
    }
    #About_Me p {
        padding-left: 5%;
        padding-top: 5%;
        padding-right: 5%;
    }
    .selfie {
        width: 33%;
        margin: 5% auto;
    }
    .proyectos{
        flex-wrap: wrap;
    }
    .paralelogramo{
        width: max-content;
    }
    #lenguajes h2{
        width: 33%;
    }
    #lenguajes li{
        width: 100%;
    }
    #lenguajes ul{
        width: 40%;
    }
    .progreso {
        /* width: 50vw;
        margin-left: -50%; 
        width: 100vw; */
        margin: 0;
    }
    #About_Me div.boton {
        width: 30%;
    }
}

@media screen and (max-width: 600px)  {
    .navOptions{
        display: none;
    }
    .navBtn{
        display: block;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: skew(0);
        box-shadow: 0px 0px 10px var(--color-fondo_titulos);
        /*  */
    }

    /* #About_Me p {
        padding-left: 1%;
        padding-right: 3%;
        padding-top: 1%;
        font-size: 1.3rem;
        text-align:center;
    } */
    .selfie {
        width: 40%;
        height: 40%;
        border-radius: 15px;
        margin-right: auto;
    }
    
    #About_Me div.boton {
        height: 5vh;
        margin: auto;
        margin-bottom: -1rem;
        padding: .2rem;
        text-align: center;
        width: 30%;
    }
    
}